@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewData["Title"] = "Mes réservations";
}
<h2>Mes réservations</h2>
<p>Cette page affichera vos réservations (à implémenter).</p>


